.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.media-cards {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  transition: 0.3s;
  border-radius: 5px;
  margin: auto;
  margin-top: 2.5em;
  justify-content: center;
  flex-direction: column;
}

.media-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title-div {
  border-style: solid;
  border-color: red;
}

.status-div {
  border-style: solid;
  border-color: black;
}

.type-div {
  border-style: solid;
  border-color: cyan;
}

/* try flex-direction: column, justify-content: center, and align-items: center on project-cards*/